<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @image.title %>
</p>

<p>
  <b>Description:</b>
  <%= @image.description %>
</p>

<%= image_tag @image.avatar.url %>
<%= image_tag @image.avatar.url(:medium) %>
<%= image_tag @image.avatar.url(:thumb) %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
